.thirty-six {
  /* 28px - 36px || 390px - 1440px*/
  font-size: clamp(1.75rem, 1.5643rem + 0.7619vw, 2.25rem);
}

.forty-eight {
  /* 32px - 48px || 390px - 1440px*/
  font-size: clamp(2rem, 1.6286rem + 1.5238vw, 3rem);
}

.twenty-eight {
  /* 20px - 28px || 390px - 1440px*/
  font-size: clamp(1.25rem, 1.0643rem + 0.7619vw, 1.75rem);
}
